body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*pop-up window*/
#welcomeModal {
    display: none; /* Initially hidden */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 150px; /* Increased padding for a larger interior */
    width: 500px; /* Made the modal wider */
    text-align: center;
    z-index: 1000;
  }
  
  /* Heading in the modal */
  #welcomeModal h1 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
  }
  
  /* Paragraphs in the modal */
  #welcomeModal p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
  }
  
  /* Close button styling */
  #welcomeModal button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #welcomeModal button:hover {
    background-color: #0056b3;
  }

  /*login container*/
.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    display: flex;               /* Make the container a flexbox */
    flex-direction: column;      /* Arrange items vertically */
    justify-content: center;     /* Center the items vertically */
    align-items: center;         /* Center the items horizontally */
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333333;
    text-align: center;
}

.login-container img{
    width: 100px; /* Adjust the size of the image */
    height: 100px; /* Adjust the size of the image */
    margin-bottom: 10px; /* Space between the image and the title */
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 3px;
    font-size: 14px;
    color: #555555;
}

.form-group input {
    width: 100%; 
    max-width: 277px; 
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 12px;
}

.form-group input:focus {
    border-color: #007BFF;
    outline: none;
}

.login-button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.login-button:active {
    background-color: #004494;
}
